<html>
    <body>
        <a href="/">Home</a>
<% if (result) { %>
    <h2>Guitar Details</h2>
    <li>model: <%= result.model %></li>
    <li>make: <%= result.make %></li>
    <li>type: <%= result.type %></li>
    <li>year: <%= result.year %></li>
<% } else { %>
        <h2><%= model %> not found</h2>
<% } %>
    </body>
</html>